.about {
  position: relative;
  // padding-top: 60px;
  padding-bottom: 50px; //50px;
  background-color: #84a178;
  @include tablet {
    padding-bottom: 80px;
  }
  @include desktop {
    padding-bottom: 146px;
  }

  &__tradition {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    color: #fcfcfc;
    @include tablet {
      font-weight: 800;
      font-size: 22px;
      line-height: calc(27 / 22);
    }
    @include desktop {
      font-weight: 800;
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  }

  &__title {
    margin-bottom: 372px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 372px;
    @include tablet {
      margin-bottom: 80px;
      max-width: 100%;
      font-size: 34px;
      line-height: calc(43 / 34);
    }
    @include desktop {
      margin-bottom: 172px;
      font-size: 36px;
      line-height: calc(45 / 36);
    }
  }

  &__cow::before {
    position: absolute;
    content: '';
    width: 279px;
    height: 278px;
    border-radius: 50%;
    top: 243px;
    left: 50%;
    translate: (-50%);

    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 50%;

    @include tablet {
      top: 214px;
      left: 210px;
      width: 330px;
      height: 330px;
    }

    @include desktop {
      top: 236px;
      left: 300px;
      width: 490px;
      height: 490px;
    }
  }

  &__cow::after {
    position: absolute;
    content: '';
    top: 265px;
    left: 50%;
    translate: (-50%);
    width: 279px;
    height: 278px;
    transition: transform 250ms linear;
    background-image: url(../images/cow@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/cow@2x.jpg);
    }
    @include tablet {
      top: 240px;
      left: 210px;
      width: 330px;
      height: 330px;
    }
    @include desktop {
      top: 275px;
      left: 300px;
      width: 490px;
      height: 490px;
    }
  }

  &__cow:hover {
    &::after {
      transform: translateY(-22px);
      @include tablet {
        transform: translateY(-26px);
      }
      @include tablet {
        transform: translateY(-39px);
      }
    }
  }

  &__text {
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 220px;
    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    color: #fcfcfc;

    @include tablet {
      margin-bottom: 8px;
      margin-left: 400px;
      max-width: 334px;
      text-align: left;
    }
    @include desktop {
      margin-left: 616px;
      max-width: 463px;
      font-size: 14px;
      line-height: 1.94;
    }
  }

  &__btn {
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms linear, color 250ms linear,
      fill 250ms linear, outline-color 250ms linear;
    font-weight: 600;
    padding: 12px 51px 12px 34px;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #f8d24e;
    border-radius: 10px;
    border: none;
    @include tablet {
      margin-top: 32px;
      margin-left: 400px;
    }
    @include desktop {
      margin-top: 54px;
      margin-left: 616px;
    }
  }

  &__btn:hover,
  &__btn:focus {
    background-color: #0a8817;
  }

  &__btn:focus {
    color: #fcfcfc;
    fill: #fcfcfc;
    outline: 2px solid #0a8817;
  }
}
