@import '../base/hiden';

// далі код з бібліотеки

.gallery .control-operator:target ~ .controls .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:first-of-type,
.gallery
  .control-operator:nth-of-type(1):target
  ~ .controls
  .control-button:nth-of-type(1),
.gallery
  .control-operator:nth-of-type(2):target
  ~ .controls
  .control-button:nth-of-type(2),
.gallery
  .control-operator:nth-of-type(3):target
  ~ .controls
  .control-button:nth-of-type(3),
.gallery
  .control-operator:nth-of-type(4):target
  ~ .controls
  .control-button:nth-of-type(4),
.gallery
  .control-operator:nth-of-type(5):target
  ~ .controls
  .control-button:nth-of-type(5) {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery .item:first-of-type {
  position: static;
  pointer-events: auto;
  opacity: 1;
  margin-top: -30px;
 margin-right: auto;
 margin-left: auto; 

}

.gallery .item {
  position: absolute;
  top: 128px; 
  left: -40px; 
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.gallery .control-operator {
  display: none;
}

.gallery .control-operator:target ~ .item {
  pointer-events: none;
  opacity: 0;
  animation: none;
}

.gallery .control-operator:target ~ .controls .control-button {
  animation: none;
}

@keyframes controlAnimation-2 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  14.3%,
  50% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  64.3%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-2 {
  0% {
    opacity: 0;
  }

  14.3%,
  50% {
    opacity: 1;
  }

  64.3%,
  100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.items-2.autoplay .control-button {
  animation: controlAnimation-2 14s infinite;
}

.items-2.autoplay .item {
  animation: galleryAnimation-2 14s infinite;
}

.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s;
}

@keyframes controlAnimation-3 {
  0% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }

  9.5%,
  33.3% {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }

  42.9%,
  100% {
    color: #ccc;
    color: rgba(255, 255, 255, 0.4);
  }
}

@keyframes galleryAnimation-3 {
  0% {
    opacity: 0;
  }

  9.5%,
  33.3% {
    opacity: 1;
  }

  42.9%,
  100% {
    opacity: 0;
  }
}

.gallery .control-operator:nth-of-type(1):target ~ .item:nth-of-type(1) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(2):target ~ .item:nth-of-type(2) {
  pointer-events: auto;
  opacity: 1;
}

.gallery .control-operator:nth-of-type(3):target ~ .item:nth-of-type(3) {
  pointer-events: auto;
  opacity: 1;
}

.items-3.autoplay .control-button {
  animation: controlAnimation-3 21s infinite;
}

.items-3.autoplay .item {
  animation: galleryAnimation-3 21s infinite;
}

.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -2s;
}

.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s;
}

.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 12s;
}


//
//
//
.customer {
  position: relative;
  z-index: -1;
  padding-top: 174px;
  background-image: url(../images/backgroud_mobile2@1x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/backgroud_mobile2@2x.jpg);
  }

  
}

.customer__img {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
 // display: block;
  border-radius: 50%;

  @include mobile {
    margin-top: 80px; //178px;
  }
    @include tablet {
      margin-top: 100px; //283px;
    }
  
    @include desktop {
      margin-top: 300px; //464px;
    }

}

.customer__text {
  margin-bottom: 32px;
  padding: 35px 39px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #fcfcfc;
  background-color: #84a178;
  border-radius: 10px;
}

.customer__name {
 // margin-bottom: 64px;
 padding-bottom: 433px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: #131313;
  @include desktop {
    padding-bottom: 228px;
  }
}