.header {
  position: relative;
  padding-top: 12px;
  background-color: #84a178;
  max-width: 320px; 
  height: 502px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }

  @keyframes changeScaleIcecream {
    0% {
      scale: 0.25;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes changeScalePoints {
    0% {
      scale: 0.25;
    }
    100% {
      scale: 1;
    }
  }

  @include mobile {
    max-width: 480px;
    height: 415px; //100vh
  }

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
    height: 664px;
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
    @include mobile {
      margin-bottom: 36px;
    }
    @include tablet {
      margin-bottom: 12px;
    }
    @include desktop {
      margin-bottom: 40px;
    }
  }

  &__position {
    display: flex;
    justify-content: space-between;
  }

  &__logotype {
    width: 40px;
    height: 37px;

    @include mobile {
      width: 48px;
      height: 44px;
    }

    @include desktop {
      width: 60px;
      height: 65px;
    }
  }

  .menu-button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    @include tablet {
      margin-left: 440px;
    }
    @include desktop {
      display: none;
    }
  }

  &__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    color: #fcfcfc;
  }

  &__title-span {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  &__products {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 11px 26px;
    transition: border-color 250ms linear;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: #000000;
    background-color: #84a178;
    border: 2px solid #f8d24e;
    border-radius: 8px;
  }

  &__products:hover {
    border-color: #0a8817;
  }

  &__made {
    display: inline-block;

    transition: color 250ms linear;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    background-color: #84a178;
    color: #f8d24e;
    border: none;
  }

  &__made:hover {
    color: #0a8817;
  }
  &__made:focus {
    color: #ffffff;
  }

  &__points {
    position: absolute;
    bottom: 0;
    left: 0;
    // transition: transform 500ms linear;
    animation-name: changeScalePoints;
    animation-duration: 1000ms;
    @include mobile {
      left: 155px;
    }
    @include tablet {
      left: 0px;
    }
  }

  &__mobile {
    position: absolute;
    bottom: 0;
    left: 83px;

    animation-name: changeScaleIcecream;
    animation-duration: 1000ms;
     

    @include mobile {
      left: 242px;
    }
    @include tablet {
      left: 408px;
    }
    @include desktop {
      left: 652px;
    }
  }

  &__down-position {
    display: flex;
    align-items: center;
  }

  &__many-ice {
    display: none;
    position: absolute;
    bottom: 12px;
    left: 32px;
    border-radius: 50%;

    @include tablet {
      display: block;
    }

    @include desktop {
      left: 16px;
      bottom: 65px;
    }
  }

  // &__block {
  // }

  .header__block-text {
    display: none;
    position: absolute;
    // padding: 0;
    // margin: 0;
    width: 165px;
    left: 216px;
    bottom: 69px;

    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #ffffff;

    @include tablet {
      display: block;
    }

    @include desktop {
      width: 210px;
      left: 257px;
      bottom: 143px;
      font-size: 14px;
    }
  }

  .header__block-arrow {
    fill: #fcfcfc;
    display: none;
    position: absolute;
    left: 216px;
    bottom: 32px;
    @include tablet {
      display: block;
    }
    @include desktop {
      left: 257px;
      bottom: 111px;
    }
  }

  &__side1 {
    display: none;
    position: absolute;
    top: 94px;
    right: 32px;
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    text-transform: uppercase;
    color: #131313;
    @include tablet {
      display: block;
    }

    @include desktop {
      right: 16px;
      top: 126px;
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  &__side2 {
    display: none;
    position: absolute;
    top: 132px;
    right: 32px;
    font-size: 8px;
    line-height: calc(10 / 8);
    color: #fcfcfc;

    @include tablet {
      display: block;
    }

    @include desktop {
      right: 16px;
      top: 186px;
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__side3 {
    display: none;
    position: absolute;
    top: 162px;
    right: 32px;
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    text-transform: uppercase;
    color: #131313;

    @include tablet {
      display: block;
    }

    @include desktop {
      right: 16px;
      top: 219px;
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }

  &__side4 {
    display: none;
    position: absolute;
    top: 200px;
    right: 32px;
    font-size: 8px;
    line-height: calc(10 / 8);
    color: #fcfcfc;

    @include tablet {
      display: block;
    }

    @include desktop {
      right: 16px;
      top: 279px;
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }
}

// меню для десктоп
.main-menu {
  margin-left: 110px;
  display: flex;
  text-align: center;
  &__item {
    margin-right: 28px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: #fcfcfc;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }

  &__link:hover,
  &__link:focus {
    color: #f8d24e;
    cursor: url(../images/vector-cursor.svg), auto;
  }
}

.menu-container {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 12px 20px 64px 20px;
  background-color: #84a178;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(-150%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.position-menu {
  display: flex;
  justify-content: space-between;
}

.mobile-menu {
  margin-top: 45px;
  margin-bottom: 90px;
  @include mobile {
    margin-top: 35px;
  }
  @include tablet {
    margin-top: 0px;
  }

  &__item {
    margin-bottom: 32px;
    text-align: center;
  }
  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);
    color: #fcfcfc;
    text-align: center;

    @include tablet {
      font-weight: 700;
      font-size: 48px;
      line-height: calc(59 / 48);
    }
  }
  &__link:hover &__link:hover {
    color: #000000;
  }
}

.button-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 12px 51px 12px 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 41px 12px 36px;

  color: #000000;
  background-color: #f8d24e;
  border-radius: 10px;
  border-color: #f8d24e;
  cursor: pointer;
}

.button-menu--main {
  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.button-menu:hover {
  background-color: #0a8817;
  border: none;
  //   border-color: #0a8817;
}

.button-menu:focus {
  background-color: #0a8817;
  color: #ffffff;
  fill: #ffffff;
  //   border: none;
  outline: none;
  border: 2px solid #0a8817;
}

.icon-button {
  display: inline-block;
  margin-left: 5px;
}
