.backdrop3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(192, 40, 40, 0.2);
  transition: opacity 250ms linear;

  &.is-hidden3 {
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%, -100%);
  }

  &.is-hidden3 .modal3 {
    transform: translate(-50%, 0) scale(0.8);
  }
}

.modal3 {
  position: absolute;
  overflow: auto;
  width: 280px;
  max-height: 90%;
  padding: 28px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  @include tablet {
    width: 568px;
    padding: 32px 60px;
  }

  &__title {
    margin-bottom: 20px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__button {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @include tablet {
      top: 13px;
      right: 13px;
    }
  }

  &__img {
    width: 224px;
    height: 199px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
    @include tablet {
      width: 448px;
      height: 260px;
      margin-bottom: 32px;
    }
  }

  &__link {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 134px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8d24e;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: #131313;
    @include tablet {
      width: 145px;
    }
  }
}
