/* МОДАЛЬНЕ ВІКНО ПРОДУКТС*/
.backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(192, 40, 40, 0.2);
}

.backdrop1.is-hidden1 {
  opacity: 0;
  pointer-events: none;
  transform: translate(-100%, -100%);
}

.backdrop1.is-hidden1 .modal1 {
  transform: translate(-50%, 0) scale(0.8);
}

.modal1 {
  position: absolute;
  overflow: auto;
  width: 280px;
  max-height: 95%;
  // padding: 28px 20px;
  padding: 5px 20px 28px 20px;
  top: 2.5%;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  transition: transform 250ms linear;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @include tablet {
    width: 568px;
    padding: 5px 40px 32px 40px;
  }

  &__title {
    margin-bottom: 200px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
    @include tablet {
      margin-bottom: 240px;
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }

  &__button {
    //   position: absolute;
    position: sticky;
    top: 12px;
    //  right: 12px;
    display: block;
    padding: 0;
    margin-left: 225px;
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    @include tablet {
      top: 18px;
      margin-left: 480px;
      color: #ff0000;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    text-align: center;
    color: #131313;
  }

  &__img::before {
    position: absolute;
    content: '';
    width: 132px;
    height: 132px;
    border-radius: 50%;
    // top: -62px;
    top: 111px;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

    @include tablet {
      top: 91px;
    }
  }

  &__img::after {
    z-index: 1;
    position: absolute;
    content: '';
    width: 132px;
    height: 132px;
    border-radius: 50%;
    // top: -62px;
    top: 104px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 250ms linear;
    background-size: cover;

    @include tablet {
      top: 84px;
    }
  }
  &__img--img1::after {
    //    background-image: url(../images/ellipse67@1x.jpg);
    background-image: url(../images/kelsey-curtis@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      // background-image: url(../images/ellipse67@2x.jpg);
      background-image: url(../images/kelsey-curtis@2x.jpg);
    }
  }

  &__img--img2::after {
    background-image: url(../images/pariwat-pannium@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/pariwat-pannium@2x.jpg);
    }
  }
  &__img--img3::after {
    background-image: url(../images/victor-rutka@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/victor-rutka@2x.jpg);
    }
  }
}

.modal1__img:hover {
  &::after {
    //  top: 111px;
    left: 50%;
    transform: translate(-50%, 7px);
  }
}

.modal1-info {
  display: flex;
  gap: 9px;
  margin-bottom: 40px;

  @include tablet {
    gap: 20px;
    padding-left: 84px;
  }

  &__item {
    position: relative;
    width: 53px;
    height: 72px;
    border: 2px solid #9cbe8f;
    border-radius: 40px;
    // @media screen and (min-width: 768px) {
    @include tablet {
      width: 65px;
      height: 90px;
    }

    &::before {
      z-index: -1;
      position: absolute;
      display: block;
      content: '';
      width: 43px;
      height: 43px;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      transition: transform 250ms linear;

      background: #9cbe8f;
      box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
      border-radius: 50%;

      @include tablet {
        width: 53px;
        height: 53px;
      }
    }
  }

  &__weight {
    position: absolute;
    //margin-top: 7px;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 250ms linear;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;
    text-align: center;
    color: #131313;
    @include tablet {
      top: 12px;
      font-size: 12px;
      line-height: calc(28 / 12);
    }
  }

  &__units {
    position: absolute;
    top: 47px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 250ms linear;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    color: #131313;
    @include tablet {
      top: 60px;
      font-size: 12px;
      line-height: 1.2;
    }
  }

  &__item:hover {
    &::before {
      transform: translate(-50%, 25px);
    }
    @include tablet {
      &::before {
        transform: translate(-50%, 35px);
      }
    }
  }

  &__item:hover &__weight {
    transform: translate(-50%, 26px);
    @include tablet {
      transform: translate(-50%, 36px);
    }
  }

  &__item:hover &__units {
    transform: translate(-50%, -39px);
    @include tablet {
      transform: translate(-50%, -49px);
    }
  }
}

.ingredients {
  margin-bottom: 40px;

  &__item {
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
  }
  &__item:last-child {
    margin-bottom: 0;
  }

  &__text {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    color: #131313;
  }
}

@import '../base/_submit';
